
#box1 { position: absolute; top: 100px; left: 210px; width: 200px; 
height: 200px; background-color: yellow; z-index: 1102; }

#box2 { position: absolute; top: 50px; left: 160px; width: 200px; height: 
200px; background-color: green; }
#mask{position:absolute;z-index:2000;top:0px;left:0px; right:0; bottom:0;background-color:#999999;
filter:alpha(opacity=50);
-moz-opacity:0.50;opacity:0.50;}

#loginform{position:absolute;z-index:4000;width:600px;height:360px; 
background-color:#FFFFF;border:0px solid #A5CF3D;}
#languageform{position:absolute;z-index:4000;width:600px;height:360px; 
border:0px solid #A5CF3D;
	width:333px;
	height: 352px;
	padding: 58px 76px 0 76px;
	color: #ebebeb;
	font: 12px Arial, Helvetica, sans-serif;
	background: url(../images/login-box-backg.png) no-repeat left top;
}
#languageform input{

}